.contact-div{
    color: black;
    /* text-align: center; */
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}
.img-div{
    display: flex;
    flex-direction: row;;
    align-items: center;
    /* justify-content: center; */
    /* margin-left: 40px; */
}
.image-size{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.align-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.title-footer{
    border-bottom: 2px solid rgb(70, 70, 70);
}